/Documents/NetBeansProjects/MundoExpress/nbproject/private/
/Documents/NetBeansProjects/MundoExpress/build/
/Documents/NetBeansProjects/MundoExpress/dist/
/Documents/NetBeansProjects/TiendaExpress/nbproject/private/
/Documents/NetBeansProjects/TiendaExpress/build/
